.wrapper {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}

.modal {
  background: #fff;
  cursor: default;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.close {
  position: sticky;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: right;
  padding: 1rem 1rem 0;
}

@media (min-width: 768px) {
  .wrapper {
    background: rgba(0, 0, 0, 0.6);
  }

  .modal {
    width: calc((100vw - 17.5rem) * 0.8);
    margin: 2rem auto;
  }

  .close {
    top: 0;
    left: 0;
    display: block;
    padding: 1rem;
  }

  .close svg > path {
    stroke: #fff;
    opacity: 0.8;
  }
}
